.ghost-button-border-color {
  display: inline-block;
  width: 200px;
  padding: 20px;
  color: white;
  border: solid 1px white;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 6px;
  margin:10px;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghost-button-border-color:hover,
.ghost-button-border-color:active {
  color: #66d8ed;
  border-color: #66d8ed;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px white;
    border-radius: 6px;
	background: none;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
	background: white;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: white;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}
#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
} opacity:1.0 ;

