{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
{{name}} Creation: 
{% endblock %}
{% block styles %}
{{form.media}}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% include 'tutorials/navbar.html' %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<div id="titlewrap">
<div class="container">
	<div class="row">
		<h3>Create {{name}}!</h3>
	</div><!-- /row -->
</div> <!-- /container -->
</div><!-- /titlewrap -->
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
<div class="row">
	<div class="col-lg-8">
	<form method="POST">{% csrf_token %} 
	{{form|crispy}}
	<button type="submit" class="btn btn-warning">{{btn}}</button>
	</form>
	</div><! --/col-lg-8 -->
</div>
</div>
{% endblock %}