{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
{{obj.title}} Tutorial :
{% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
{% include 'tutorials/navbar.html' %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<div id="titlewrap">
<div class="container">
	<div class="row">
		<h3>{{obj.title}}</h3>
	</div><!-- /row -->
</div> <!-- /container -->
</div><!-- /titlewrap -->
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
<div class="row">

	<! -- SINGLE Tutorial -->
	<div class="col-lg-8">
		{% autoescape off %}{{obj.body|safe}}{% endautoescape %}
		<hr/>
		<p><b>Tags</b></p>
		<p>
		{% for tag in obj.tags.all %}
			<a class="btn btn-theme" href="#" role="button">{{tag.name}}</a>
		{% endfor %}
		</p>
		<p><csmall>Posted: {{obj.created}}</csmall> <br/><csmall2>
		By: 
		{% for users in obj.authors.all %}
			{{users.username}}
		{% endfor %}
		</csmall2></p>
		<div class="spacing"></div>
		<div style="text-align:center">  
			<a href="./upvote"><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp&nbsp&nbsp <span class="badge">{{obj.total_upvotes}}</span></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<a href="./downvote"><i class="glyphicon glyphicon-thumbs-down"></i>&nbsp&nbsp&nbsp <span class="badge">{{obj.total_downvotes}}</span></a>
			<div class="spacing"></div>
			<h6>SHARE</h6>
			<p class="share">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-tumblr"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>		 		
			</p>
		</div>
	</div><! --/col-lg-8 -->
	{% include 'tutorials/sidebar.html' %}
</div>
</div>
{% endblock %}