{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
{{obj.title}}
{% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
{% include 'tutorials/navbar.html' %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<div id="titlewrap">
<div class="container">
	<div class="row">
		<h3>{{obj.title}}</h3>
	</div><!-- /row -->
</div> <!-- /container -->
</div><!-- /titlewrap -->
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
<div class="row">

	<! -- SINGLE Tutorial -->
	<div class="col-lg-8">
		{% autoescape off %}{{obj.body|safe}}{% endautoescape %}
		<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
		<div class="spacing"></div>
		<h6>SHARE:</h6>
		<p class="share">
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-tumblr"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>		 		
		</p>
		
	</div><! --/col-lg-8 -->
	{% include 'tutorials/sidebar.html' %}
</div>
</div>
{% endblock %}