{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
{{obj.title}} :
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
{% include 'tutorials/navbar.html' %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1572784622983498";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<div id="titlewrap">
<div class="container">
	<div class="row">
		<h3>{{obj.title}}</h3>
	</div><!-- /row -->
</div> <!-- /container -->
</div><!-- /titlewrap -->
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
<div class="row">
	<! -- SINGLE Tutorial -->
	<div class="col-lg-8" style="word-wrap: break-word">
		{% if section == "seriestutorial" %}
			<p><b>From Tutorial Series :</b> <a href=".">{{obj.tut_series}}</a></p>
			<p><b>Tutorial number in series :</b>{{obj.order_id}}</p>
		{% endif %}
		{% if obj.abstract %}
			<p><b>Abstract :</b> {{obj.abstract}}</p>
		{% endif %}
		{% if section == "snippets" %}
			{% autoescape off %}{{obj.snippet{% endautoescape %}
		{% endif %}
		<p>{% autoescape off %}{{obj.body}}{% endautoescape %}</p>
		<br/>
		{% if section == "resources" %}
			<p><b>Start Date : </b>{{obj.start_date}}</p>
			<p><b>Instructors : </b>{{obj.instructor_names}}</p>
			<p><b>Website : </b><a href="{{obj.website}}">{{obj.website}}</a></p>
			<p><b>Language : </b>{{obj.language}}</p>
			<h4>Course Structure & Contents </h4>
			{% autoescape off %}{{obj.contents}}{% endautoescape %}
			<br/>
			<h4>Recommended Background </h4>
			{% autoescape off %}{{obj.background}}{% endautoescape %}
			<br/>
			<h4>Frequently Asked Questions </h4>
			{% autoescape off %}{{obj.faq}}{% endautoescape %}
			<br/>
		{% endif %}
		<hr/>
		{% if section != "seriestutorial"%}
		<p><b>Categories:</b>
		{% for cat in obj.categories.all %}
			{{cat.title}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		{% endfor %}
		</p>
		<hr/>
		<h4>Tags</h4>
		<p>
		{% for tag in obj.tags.all %}
			<a class="btn btn-theme" href="#" role="button">{{tag.name}}</a>
		{% endfor %}
		</p>
		{% endif %}
		<p><csmall>Posted: {{obj.created}}</csmall> <br/><csmall2>
		By: 
		{% for users in obj.authors.all %}
			{{users.username}}
		{% endfor %}
		</csmall2></p>
		<div class="spacing"></div>
		{% if section != "seriestutorial" %}
		<div style="text-align:center">  
			<a href="./upvote"><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp&nbsp&nbsp <span class="badge">{{obj.total_upvotes}}</span></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<a href="./downvote"><i class="glyphicon glyphicon-thumbs-down"></i>&nbsp&nbsp&nbsp <span class="badge">{{obj.total_downvotes}}</span></a>
			<div class="spacing"></div>
			<h6>SHARE</h6>
			<p class="share">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<div class="fb-share-button" data-href="{{full_url}}" data-layout="button_count"></div>
				<a href="#"><i class="fa fa-tumblr"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>		 		
			</p>
		</div>
		{% endif %}
		 <!--Disqus Comment Section -->
	
	<div id="disqus_thread" style='margin-top:50px;'></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		var disqus_shortname = 'astropython'; //registered short name of astropy tutorials 
		var disqus_identifier= '{{full_url}}';
		var disqus_url = '{{full_url}}';
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	
	<!--End of comments section-->
	</div><! --/col-lg-8 -->
	{% include 'tutorials/sidebar.html' %}
</div>
</div>
{% endblock %}
