{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
{{name}}:
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<section id="page-breadcrumb">
	<div class="vertical-center sun">
		 <div class="container">
			<div class="row">
				<div class="action">
					<div class="col-sm-12">
						<h1 class="title">{{name}}</h1>
						{% if message %}
						<h2>{{message}}</h2>
						<a href="../{{section}}/create"><img src='{% static "images/add_new.png" %}' height="50px" width="50px" style="position: absolute;right: 0px;bottom:25px;"> </a>
						{% else %}
						<a href="../{{section}}/create"><img src='{% static "images/add_new.png" %}' height="50px" width="50px" style="position: absolute;right: 0px;bottom:0px;"> </a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/#page-breadcrumb-->
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<section id="blog" class="padding-top">
<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-7">
			<div class="row">
			{%if length == 0 %}
			<h2>No {{name}} here !</h2>
			<p><a href="create">Create one here !</a></p>
			{% endif %}
			{% if section == "packages" %}
			<div class="masonery_area">
			{% for single_obj in obj %}
			 <div class="col-md-4 col-sm-4" style="height:300px;">
				<div class="single-blog two-column">
					<div class="post-content overflow">
						<h2 class="post-title bold"><a href="../{{section}}/{{single_obj.slug}}">{{single_obj.title}}</a></h2>
						<h3 class="post-author"><a href="#">Posted by {% for users in single_obj.authors.all %}{{users.username}}{% endfor %}</a></h3>
						<p><b>Category:</b>{{single_obj.category}}</p>
						{% if single_obj.abstract %}
						<p><b>Abstract :</b>{{single_obj.abstract|truncatechars:300}}</p>
						{% endif %}
						<a href="{{single_obj.slug}}" class="read-more">View More</a>
						<div class="post-bottom overflow">
							<ul class="nav navbar-nav post-nav">
								<li><a><i class="fa fa-tag">&nbsp&nbsp{% for tag in single_obj.tags.all %}{{tag.name}}&nbsp&nbsp&nbsp {% endfor %}</i></a> </li>
								<li><a href="#"><i class="fa fa-heart"></i>{{single_obj.total_upvotes}} Love</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
			{% else %}
			{% for single_obj in obj %}
			<div class="col-sm-12 col-md-12">
				<div class="single-blog single-column">
					<div class="post-content overflow">
						<h2 class="post-title bold"><a href="../{{section}}/{{single_obj.slug}}">{{single_obj.title}}</a></h2>
						<h3 class="post-author"><a href="#">Posted by {% for users in single_obj.authors.all %}{{users.username}}{% endfor %}</a></h3>
						{% if section == "events" %}
							<p><b>Start Date :</b>{{single_obj.start_date_time|date}}</p>
							{% if single_obj.website %}
							<p><b>Website :</b><a href="{{single_obj.website}}">{{single_obj.website}}</a></p>
							{% endif %}
						{% else %}
							{% if section == "packages" %}
							<p><b>Category:</b>{{single_obj.category}}</p>
							{% endif %}
							{% if single_obj.abstract %}
							<p><b>Abstract :</b>{{single_obj.abstract|truncatechars:300}}</p>
							{% endif %}
						{% endif %}
						<a href="{{single_obj.slug}}" class="read-more">View More</a>
						<div class="post-bottom overflow">
							<ul class="nav navbar-nav post-nav">
								<li><a><i class="fa fa-tag">&nbsp&nbsp{% for tag in single_obj.tags.all %}{{tag.name}}&nbsp&nbsp&nbsp {% endfor %}</i></a> </li>
								<li><a href="#"><i class="fa fa-heart"></i>{{single_obj.total_upvotes}} Love</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{% endif %}
		</div>
		 <div class="blog-pagination">
		{% if  obj.paginator.num_pages > 1 %}
				<ul class="pagination">
					{% if obj.has_previous %}
						<li><a href="?page={{ obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					{% else %}
						<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					{% endif %}
					{% for num in range %}
						{% if num == obj.number %}
							<li class="active"><a href="#">{{num}} <span class="sr-only">(current)</span></a></li>
						{% else %}
							<li><a href="?page={{num}}">{{num}}</a></li>
						{% endif %}
					{% endfor %}
					{% if obj.has_next %}
						<li><a href="?page={{ obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					{% else %}
						<li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					{% endif %}
				</ul>
		{% endif %}
		</div>
		</div>
	{% include 'sidebar.html' %}
	</div>
</div>
</section>


{% endblock %}