{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
{{name}} Creation: 
{% endblock %}
{% block styles %}
<link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}markdown/less/bootstrap-markdown.less" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}markdown/css/bootstrap-markdown.min.css" />
{{form.media}}
{% endblock %}

{% load crispy_forms_tags %}
{% block jquery %}		
{% if form.input_type.value == "Markdown" %}	
	$("#div_id_body").replaceWith('<div id="div_id_body" class="form-group"><label for="id_body" class="control-label  requiredField">Body<span class="asteriskField">*</span></label><div class="controls "><textarea class="textarea form-control" cols="40" id="id_body" name="body" rows="10" data-provide="markdown">'+document.getElementById('id_body').value+'</textarea></div></div>');
	$("#div_id_input_type").replaceWith('	<div id="div_id_input_type" class="form-group"><label for="id_input_type" class="control-label  requiredField">Markdown Editor present, shift to Rich Editor ? <span class="asteriskField">*</span></label><div class="controls "><select class="select form-control" id="id_input_type" name="input_type"><option value="WYSIWYG">Yes</option>><option value="Markdown" selected="selected">No</option></select></div></div>');
{% endif %}
	function changeEditor(){
	ch=$("#id_input_type option:selected").val();
		if (ch=="WYSIWYG")
		{
			$("#div_id_body").replaceWith('<div id="div_id_body" class="form-group"><label for="id_body" class="control-label  requiredField">Body<span class="asteriskField">*</span></label><div class="controls "><textarea class="textarea form-control" cols="40" id="id_body" name="body" rows="10">'+ $('#id_body').val() +'</textarea></div></div>');
			CKEDITOR.replace( 'body' );
		}
	}
	$("#id_input_type").change(function(){
		changeEditor();
		})
	changeEditor(); 
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}ckeditor/ckeditor.js"></script> 
{% endblock %}
{% block content %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<section id="page-breadcrumb">
	<div class="vertical-center sun">
		 <div class="container">
			<div class="row">
				<div class="action">
					<div class="col-sm-12">
						<h1 class="title" id="title">Create {{name}} !</h1>
					</div>                                                                                
				</div>
			</div>
		</div>
	</div>
</section>
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->
<section id="blog-details" class="padding-top">
<div class="container">
<div class="row">
	<div class="col-lg-12">
	<form method="POST">{% csrf_token %}
	{{form|crispy}}
	<button type="submit" name="submit" class="btn btn-warning">Publish</button>
	{% if user.is_authenticated %}
	<button type="submit" name="save" class="btn btn-warning">Save</button>
	{% endif %}
	</form>
	</div><! --/col-lg-8 -->
</div>
</div>
</section>
{% endblock %}
{% block endjs %}
<script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"type="text/javascript"></script>
<script src="{{STATIC_URL}}markdown/js/markdown.js"></script>
<script src="{{STATIC_URL}}markdown/js/to-markdown.js"></script>
<script src="{{STATIC_URL}}markdown/js/bootstrap-markdown.js"></script> 
{% endblock %}