{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
{{name}} Creation: 
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}markitup/sets/default/style.css" />
{{form.media}}
{% endblock %}

{% load crispy_forms_tags %}
{% block jquery %}
	function changeEditor(){
	ch=$("#id_input_type option:selected").val()
		if (ch=="WYSIWYG")
		{
			$('#id_body').markItUpRemove();  
			CKEDITOR.replace( 'body' );
		}else{
			for(name in CKEDITOR.instances)
			{
				CKEDITOR.instances[name].destroy()
			}
			$("#id_body").markItUp(mySettings);
		}
	}
	$("#id_input_type").change(function(){
		changeEditor();
		})
	changeEditor();
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}ckeditor/ckeditor.js"></script> 
<script type="text/javascript" src="{{STATIC_URL}}markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}markitup/sets/default/set.js"></script>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<div id="titlewrap">
<div class="container">
	<div class="row">
		<h3>Create {{name}}!</h3>
	</div><!-- /row -->
</div> <!-- /container -->
</div><!-- /titlewrap -->
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
<div class="row">
	<div class="col-lg-12">
	<form method="POST">{% csrf_token %}
	{{form|crispy}}
	<button type="submit" name="submit" class="btn btn-warning">Publish</button>
	{% if user.is_authenticated %}
	<button type="submit" name="save" class="btn btn-warning">Save</button>
	{% endif %}
	</form>
	</div><! --/col-lg-8 -->
</div>
</div>
{% endblock %}