{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}
{% block head_title %}
{{name}} Creation: 
{% endblock %}
{% block styles %}
{{form.media}}
 <link rel="stylesheet" href="{{STATIC_URL}}markdown/css/editormd.css" />
{% endblock %}
{% load crispy_forms_tags %}

{% block js %}
{% compress js %}
<script src="{{STATIC_URL}}ckeditor/ckeditor.js"></script> 
<script type="text/javascript">
	$(document).ready(function(){
			var testEditormd;
			function changeEditor(){
			ch=$("#id_input_type option:selected").val();
				if (ch=="WYSIWYG")
				{
					testEditormd.editor.remove();
					CKEDITOR.replace( 'body' );
				}
				else{
					for(name in CKEDITOR.instances)
					{
						CKEDITOR.instances[name].destroy()
					}
					$.getScript("{{STATIC_URL}}markdown/editormd.js", function() {
								$("#id_body").before("<div id=\"test-editormd\"></div>");
								$("#id_body").after("</div>");
								testEditormd = editormd("test-editormd", {
									width: "90%",
									height: 640,
									markdown : "### 动态创建 Editor.md\r\n\r\nDynamic create Editor.md",
									path : '{{STATIC_URL}}markdown/lib/'
								});
						});
				}
			}
			$("#id_input_type").change(function(){
				changeEditor();
				})
			changeEditor(); 
	})
</script>
{% endcompress %}
{% endblock %}
{% block content %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<section id="page-breadcrumb">
	<div class="vertical-center sun">
		 <div class="container">
			<div class="row">
				<div class="action">
					<div class="col-sm-12">
						<h1 class="title" id="title">Create {{name}} !</h1>
					</div>                                                                                
				</div>
			</div>
		</div>
	</div>
</section>
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->
<section id="blog-details" class="padding-top">
<div class="container">
<div class="row">
	<div class="col-lg-12">
	<form method="POST">{% csrf_token %}
	{{form|crispy}}
	<button type="submit" name="submit" class="btn btn-warning">Publish</button>
	{% if user.is_authenticated %}
	<button type="submit" name="save" class="btn btn-warning">Save</button>
	{% endif %}
	</form>
	</div><! --/col-lg-8 -->
</div>
</div>
</section>
{% endblock %}
{% block endjs %}
{% endblock %}