{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
Welcome to
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<section id="home-slider">
        <div class="container">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>Python for Astronomers</h1>
                    <p>The purpose of this web site is to act as a community knowledge base for performing astronomy research with Python. It provides lists of useful resources, a forum for general discussion, advice, or relevant news items, collecting users' code snippets or scripts, and longer tutorials on specific topics. The topics within these pages are presented in a list view with the ability to sort by date or topic.</p>
					{% if request.user.is_authenticated %}
					<h2>Welcome @{{request.user.username}}</h2>
					{% else %}
					<h5>Register or Sign In with the Oauth options below!</h5>
                    <a href="login/facebook" class="btn btn-common">Facebook</a>
					<a href="login/google-oauth2" class="btn btn-common">Google</a>
					<a href="login/github" class="btn btn-common">Github</a>
					{% endif %}
                </div>
                <img src="{% static 'images/home/slider/slide1/welcome1.png'%}" class="img-responsive slider-house" alt="slider image">
                <img src="{% static 'images/home/slider/slide1/moon.png' %}" class="slider-circle1" alt="slider image">
                <img src="{% static 'images/home/slider/slide1/saturn.jpg'%}" class="slider-cloud1" alt="slider image">
                <img src="{% static 'images/home/slider/slide1/jupiter.jpg'%}" class="slider-cloud2" alt="slider image">
                <img src="{% static 'images/home/slider/slide1/mars.jpg'%}" class="slider-cloud3" alt="slider image">
                <img src="{% static 'images/home/slider/slide1/meteor.svg' %}" class="slider-sun" alt="slider image">
                <img src="{% static 'images/home/satellite.png'%}" class="slider-cycle" alt="">
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="{% static 'images/home/icon1.png' %}" alt="">
                        </div>
                        <h2>Teach & Learn</h2>
                        <p>Tutorials , Educational Resources , Code Snippets and much more !</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="{% static 'images/home/icon2.jpg' %}" alt="">
                        </div>
                        <h2>Forum</h2>
                        <p>Broadcast to the world with Blogs, News, Announcements and Events !</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="{% static 'images/home/icon3.png' %}" alt="">
                        </div>
                        <h2>Packages</h2>
                        <p>Your helping bots !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Subscribe to our newsletters !</h1>
                            <p>Stay Updated with the latest and greatest in Python & Astronomy</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="features">
        <div class="container">
            <div class="row text-center">
			<h1> Latest Posts </h1>
                <div class="single-features">
                    <div class="col-sm-12 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Post 1</h2>
                        <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky meatball pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick salami strip steak.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Post 2</h2>
                        <P>Mollit eiusmod id chuck turducken laboris meatloaf pork loin tenderloin swine. Pancetta excepteur fugiat strip steak tri-tip. Swine salami eiusmod sint, ex id venison non. Fugiat ea jowl cillum meatloaf.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-12 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Post 3</h2>
                        <P>Ut officia cupidatat anim excepteur fugiat cillum ea occaecat rump pork chop tempor. Ut tenderloin veniam commodo. Shankle aliquip short ribs, chicken eiusmod exercitation shank landjaeger spare ribs corned beef.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="{% static 'images/home/clients.png' %}" class="img-responsive" alt=""></p>
                        <h1 class="title">Contribute</h1>
                        <p>Contributions from the community are strongly encouraged. If you are interested please contact the AstroPython team via the Contribute page.<br/> We can either post material on your behalf or give you an astropython.org user account to allow your own postings.</p>
                    </div>
                </div>
            </div>
        </div>
     </section>
{% endblock %}