{% extends 'base.html' %}

{% block head_title %}
Welcome to
{% endblock %}

{% block content %}
<div id="headerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h3>Welcome to Astropython !</h3>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/><br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/><br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /headerwrap -->
dfk;lkl;dsf
;dfklsd;k;sdf;label
{% endblock %}