{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
Blog Roll : 
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
<div class="container">
	<div class="row">
		<h3>Blog List.</h3>
	</div><!-- /row -->
</div> <!-- /container -->
</div><!-- /blue -->
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
<div class="row">

	<! -- BLOG POSTS LIST -->
	<div class="col-lg-8">
		<! -- Blog Post 1 -->
		<p><img class="img-responsive" src='{% static "img/sample.jpg" %}'></p>
		<a href="#"><h3 class="ctitle">The evolution of Astronomy</h3></a>
		<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
		<p><a href="#">[Read More]</a></p>
		<div class="hline"></div>
		
		<div class="spacing"></div>
		
		<! -- Blog Post 2 -->
		<a href="single-post.html"><h3 class="ctitle">New Astropython coming up soon !</h3></a>
		<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
		<p><a href="single-post.html">[Read More]</a></p>
		<div class="hline"></div>

		<div class="spacing"></div>
		
		<! -- Blog Post 3 -->
		<a href="single-post.html"><h3 class="ctitle">Hey an older post.</h3></a>
		<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
		<p><a href="single-post.html">[Read More]</a></p>
		<div class="hline"></div>
		
	</div><! --/col-lg-8 -->
	{% include 'sidebar.html' %}
</div><! --/row -->
</div><! --/container -->


{% endblock %}