<! -- SIDEBAR -->
{% load staticfiles %}
<div class="col-lg-4">
	<h4>Search</h4>
	<div class="hline"></div>
		<p>
			<br/>
			<input type="text" class="form-control" placeholder="Search something">
		</p>
		
	<div class="spacing"></div>
	
	<h4>Recent Posts</h4>
	<div class="hline"></div>
		<ul class="popular-posts">
			<li>
				<a href="#"><img src='{% static "img/nothumb.jpg" %}' width='60px' alt="Popular Post"></a>
				<p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
				<em>Posted on 02/21/14</em>
			</li>
			<li>
				<a href="#"><img src='{% static "img/nothumb.jpg" %}' width='60px' alt="Popular Post"></a>
				<p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
				<em>Posted on 03/01/14</em>
			<li>
				<a href="#"><img src='{% static "img/nothumb.jpg" %}' width='60px' alt="Popular Post"></a>
				<p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
				<em>Posted on 05/16/14</em>
			</li>
			<li>
				<a href="#"><img src='{% static "img/nothumb.jpg" %}' width='60px' alt="Popular Post"></a>
				<p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
				<em>Posted on 05/16/14</em>
			</li>
		</ul>
		
	<div class="spacing"></div>
	
	<h4>Popular Tags</h4>
	<div class="hline"></div>
		<p>
			<a class="btn btn-theme" href="#" role="button">Astropy</a>
			<a class="btn btn-theme" href="#" role="button">PyFITS</a>
			<a class="btn btn-theme" href="#" role="button">Sherpa</a>
			<a class="btn btn-theme" href="#" role="button">JWST</a>
			<a class="btn btn-theme" href="#" role="button">IPAC</a>
			<a class="btn btn-theme" href="#" role="button">Cosmology</a>
			<a class="btn btn-theme" href="#" role="button">pyraf</a>
			<a class="btn btn-theme" href="#" role="button">telescope</a>
			<a class="btn btn-theme" href="#" role="button">SED</a>
			<a class="btn btn-theme" href="#" role="button">NASA</a>
			<a class="btn btn-theme" href="#" role="button">Numpy</a>
			<a class="btn btn-theme" href="#" role="button">Scipy</a>		            	
			<a class="btn btn-theme" href="#" role="button">UVES</a>		            	
			<a class="btn btn-theme" href="#" role="button">Spectrography</a>		            	
		</p>
</div>