<! -- SIDEBAR -->
{% load staticfiles %}
<div class="col-md-3 col-sm-5">
<div class="sidebar blog-sidebar">
	{% if page == "all" %}
	<div class="sidebar-item categories">
		<h3>Sort by</h3>
		<ul class="nav navbar-stacked">
			{% if section == "packages"%}
			<li><a href="?sort=recommended">Recommended</a></li>
			{% endif %}
			<li><a href="?sort=popularity">Popularity</a></li>
			<li><a href="?sort=ratings">Ratings</a></li>
			<li><a href="?sort=date">Date Created</a></li>
		</ul>
	</div>
	<div class="sidebar-item tag-cloud">
		<h3>All Tags</h3>
		<ul class="nav nav-pills">
		{% for tag in tags %}
			<li><a href="?tags={{tag.name}}">{{tag.name}}</a></li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}
	<div class="sidebar-item  recent">
	<h3>Popular Posts</h3>
	{% for item in popular %}
	<div class="media">
		<div class="media-body">
			<h4><a href="{% url 'single' section item.slug %}">{{item.title}}</a></h4>
			<p>Posted on {{item.created}}</p>
		</div>
	</div>
	{% endfor %}
	</div>
	<div class="sidebar-item  recent">
	<h3>Recent Posts</h3>
	{% for item in recent %}
	<div class="media">
		<div class="media-body">
			<h4><a href="{% url 'single' section item.slug %}">{{item.title}}</a></h4>
			<p>Posted on {{item.created}}</p>
		</div>
	</div>
	{% endfor %}
	</div>
</div>
</div>