{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
{{name}}:
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<div id="titlewrap">
<div class="container">
	<div class="row">
		<h3>{{name}}</h3>
	</div><!-- /row -->
</div> <!-- /container -->
</div><!-- /titlewrap -->
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
<div class="row">

	<! --LIST-->
	<div class="col-lg-8">
		{%if length == 0 %}
			<h2>No tutorials in this series created yet !</h2>
			<p><a href="create">Create one here !</a></p>
		{% endif %}
		{% for single_obj in obj %}
			<a href="{{single_obj.slug}}"><h3 class="ctitle">Tutorial {{single_obj.order_id}}:&nbsp&nbsp&nbsp{{single_obj.title}}</h3></a>
			<p><csmall>Posted:{{single_obj.created}}</csmall> |<csmall2>By: 
				{% for users in single_obj.authors.all %}
					{{users.username}}
				{% endfor %}
				</csmall2></p>
			<p><b>Abstract :</b>{{single_obj.abstract|truncatechars:300}}</p>
			<p><a href="{{single_obj.slug}}">[Read More]</a></p>
			<div class="hline"></div>
			<div class="spacing"></div>
		{% endfor %}
	</div><! --/col-lg-8 -->
	{% include 'sidebar.html' %}
</div><! --/row -->
</div><! --/container -->


{% endblock %}