{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}
{{obj.title}} :
{% endblock %}
{% block jquery %}
{% if mode == "edit" %}
	$("#edit_modal").modal("show");
{% endif %}
{% endblock %}
{% load crispy_forms_tags %}
{% block styles %}
{{form.media}}
<link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}markdown/less/bootstrap-markdown.less" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}markdown/css/bootstrap-markdown.min.css" />
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "626bc566-fe39-4650-9440-d70b61157997", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}
{% block js %}
<script src="{{STATIC_URL}}ckeditor/ckeditor.js"></script> 
{% endblock %}
{% block content %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<section id="page-breadcrumb">
	<div class="vertical-center sun">
		 <div class="container">
			<div class="row">
				<div class="action">
					<div class="col-sm-12">
						<h1 class="title" id="title">{{obj.title}}</h1>
						{% if section == "wiki" %}
						<a href="../{{section}}/create"><img src='{% static "images/add_new.png" %}' height="50px" width="50px" style="position: absolute;right: 0px;bottom:0px;"> </a>
						{% endif %}
					</div>                                                                                
				</div>
			</div>
		</div>
	</div>
</section>
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->
{% include 'edit_modal.html' %}
<section id="blog-details" class="padding-top">
<div class="container">
	<div class="row">
	<div class="col-md-9 col-sm-7" style="word-wrap: break-word;">
		<div class="row">
			 <div class="col-md-12 col-sm-12">
			 {% if section == "wiki" %}
			 <div style="text-align:right">
			 <a href="?edit=body"><h5>Add to this Wiki Page</h5></a>
			 </div>
			 {% endif %}
				<div class="single-blog blog-details two-column">
					<div class="post-content overflow">
						{% if obj.abstract %}
							<p id="abstract"><b>Abstract :</b> {{obj.abstract}}</p>
						{% endif %}
						{% if section == "packages" %}
							<p><b>Category : </b>{{obj.category}}</p>
							{% if obj.homepage %}
							<p><b>Homepage : </b><a href="{{obj.homepage}}">{{obj.homepage}}</a></p>
							{% endif %}
							{% if obj.docs %}
							<p><b>Start Date : </b><a href="{{obj.docs}}">{{obj.docs}}</a></p>
							{% endif %}
						{% endif %}
						{% if section == "events" %}
							{% if obj.website %}
							<p><b>Event Website : </b><a href="{{obj.website}}">{{obj.website}}</a></p>
							{% endif %}
							{% if obj.location %}
							<p><b>Location : </b>{{obj.location}}</p>
							{% endif %}
							<p><b>Event Date: </b>{{obj.start_date_time|date}}</p>
							{% if obj.end_date_time %}
							<p><b>Event End Date : </b>{{obj.end_date_time|date}}</p>
							{% endif %}
							{% if obj.all_day_event %}
							<p>This is an all day event !</p>
							{% endif %}
						{% endif %}
						<p id="body_display">{% autoescape off %}{{obj.body}}{% endautoescape %}</p>
						<br/>
						{% if section == "education" %}
							<p><b>Start Date : </b>{{obj.start_date}}</p>
							<p><b>Instructors : </b>{{obj.instructor_names}}</p>
							<p><b>Website : </b><a href="{{obj.website}}">{{obj.website}}</a></p>
							<p><b>Language : </b>{{obj.language}}</p>
							<h4>Course Structure & Contents </h4>
							{% autoescape off %}{{obj.contents}}{% endautoescape %}
							<br/>
							<h4>Recommended Background </h4>
							{% autoescape off %}{{obj.background}}{% endautoescape %}
							<br/>
							<h4>Frequently Asked Questions </h4>
							{% autoescape off %}{{obj.faq}}{% endautoescape %}
							<br/>
						{% endif %}
						{% if section != "wiki" %}
						 <div style="text-align:right">
						 <a href="?edit=body"><h5>Edit Post</h5></a>
						 </div>
						 {% endif %}
						<br/>
						<h5 class="post-author">Posted by <a href="#">{% for users in obj.authors.all %}{{users.username}}{% endfor %}</a></h5>
							<div class="sidebar-item tag-cloud">
								<h3 id="tags">Tags</h3>
								<ul class="nav nav-pills">
								{% for tag in obj.tags.all %}
									<li><a href="/{{section}}/?tags={{tag.name}}">{{tag.name}}</a></li>
								{% endfor %}
								</ul>
							</div>
							<div style="text-align:center">  
								<a href="./upvote"><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp&nbsp&nbsp <span class="badge">{{obj.total_upvotes}}</span></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
								<a href="./downvote"><i class="glyphicon glyphicon-thumbs-down"></i>&nbsp&nbsp&nbsp <span class="badge">{{obj.total_downvotes}}</span></a>
								<div class="spacing"></div>
								<h6>SHARE</h6>
								<span class='st_facebook_large' displayText='Facebook'></span>
								<span class='st_twitter_large' displayText='Tweet'></span>
								<span class='st_googleplus_large' displayText='Google +'></span>
								<span class='st_email_large' displayText='Email'></span>
							</div>
						<div class="response-area">
						<h2 class="bold">Comments</h2>
						<div id="disqus_thread" style='margin-top:50px;'></div>
						</div><!--/Response-area-->
					</div>
				</div>
			</div>
		</div>
	 </div>
	<script type="text/javascript">
		$( "#title,#abstract,#tags").hover(
		  function() {
			attribute=$(this).attr('id');
			$( this ).append( $( "<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href='?edit="+attribute+"'><img src='{% static 'images/edit_logo.png' %}' height='15px' width='15px'></a></span>" ) );
		  }, function() {
			$( this ).find( "span:last" ).remove();
		  }
		);
	</script>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		var disqus_shortname = 'astropython'; //registered short name of astropy tutorials 
		var disqus_identifier= '{{full_url}}';
		var disqus_url = '{{full_url}}';
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	
	<!--End of comments section-->

	{% include 'sidebar.html' %}	
	</div>
</div>
</section>
{% endblock %}
{% block endjs %}
<script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"type="text/javascript"></script>
<script src="{{STATIC_URL}}markdown/js/markdown.js"></script>
<script src="{{STATIC_URL}}markdown/js/to-markdown.js"></script>
<script src="{{STATIC_URL}}markdown/js/bootstrap-markdown.js"></script> 
{% endblock %}
