{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block head_title %}
Timeline
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
<!-- *****************************************************************************************************************
TITLE WRAP
***************************************************************************************************************** -->
<section id="page-breadcrumb">
	<div class="vertical-center sun">
		 <div class="container">
			<div class="row">
				<div class="action">
					<div class="col-sm-12">
						
						<h1 class="title">{% if section == "all" %}All Posts Timeline{% elif section == "tl" %}All Teach and Learn Posts{% elif section == "forum" %}All Forum Posts{%endif%}</h1>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/#page-breadcrumb-->
<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<div class="container">
	<div class="row">
		<div class="timeline-blog overflow padding-top">
			<div class="timeline-date text-center">
                <p class="btn btn-common uppercase">Subscribe : <a href="/feeds/rss">RSS</a> | <a href="/feeds/atom">ATOM</a></p>
            </div>
			<div class="timeline-divider overflow padding-bottom">
			{% for obj in data %}
			{% if obj|isEven:data %}
				<div class="col-sm-6 padding-right arrow-right wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms" style="height:400px">
					<div class="single-blog timeline">
						<div class="post-content overflow">
							<h2 class="post-title bold"><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h2>
							<h3 class="post-author"><a href="#"><b>Posted by {% for users in obj.authors.all %}{{users.username}}{% endfor %}</b></a></h3>
							{% if section == "events" %}
								<p><b>Start Date :</b>{{obj.start_date_time|date}}</p>
								{% if obj.website %}
								<p><b>Website :</b><a href="{{obj.website}}">{{obj.website}}</a></p>
								{% endif %}
							{% else %}
								{% if obj.abstract %}
								<p>{% autoescape off %}{{obj.abstract}}{% endautoescape %}</p>
								{% else %}
								{% filter truncatechars:350 %}
								<p>{{obj.body|raw_content}}</p>
								{% endfilter %}
								{% endif %}
							{% endif %}
							<a href="{{obj.get_absolute_url}}" class="read-more">View More</a>
							<div class="post-bottom overflow">
								<span class="post-date pull-left">{{obj.created|date}}</span>
								<span class="comments-number pull-right"><i class="fa fa-heart"></i>&nbsp&nbsp&nbsp&nbsp{{obj.total_upvotes}} Love</span>
							</div>
						</div>
					</div>
				</div>
			{% else %}
			<div class="col-sm-6 padding-left arrow-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms" style="height:400px">
					<div class="single-blog timeline">
						<div class="post-content overflow">
							<h2 class="post-title bold"><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h2>
							<h3 class="post-author"><a href="#"><b>Posted by {% for users in obj.authors.all %}{{users.username}}{% endfor %}</b></a></h3>
							{% if section == "events" %}
								<p><b>Start Date :</b>{{obj.start_date_time|date}}</p>
								{% if obj.website %}
								<p><b>Website :</b><a href="{{obj.website}}">{{obj.website}}</a></p>
								{% endif %}
							{% else %}
								{% if obj.abstract %}
								<p>{% autoescape off %}{{obj.abstract}}{% endautoescape %}</p>
								{% else %}
								{% filter truncatechars:350 %}
								<p>{{obj.body|raw_content}}</p>
								{% endfilter %}
								{% endif %}
							{% endif %}
							<a href="{{obj.get_absolute_url}}" class="read-more">View More</a>
							<div class="post-bottom overflow">
								<span class="post-date pull-left">{{obj.created|date}}</span>
								<span class="comments-number pull-right"><i class="fa fa-heart"></i>&nbsp&nbsp&nbsp&nbsp{{obj.total_upvotes}} Love</span>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>


{% endblock %}